<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image rotation</title>
</head>
<body>
    <form id="imageForm" method="POST" action="{{ url }}" enctype="multipart/form-data">
        image : <input type="file" id="backgroundFileLoader" name="image_to_transform"> <br>
        Rotation Direction: <input type="number" name="rotation_direction" min="-1" max="1" value="0">
        <!-- Expand on rotation : <input type="checkbox" name="expand"> <br> -->
        <ul>
            <li>    -1 : clockwise rotation         </li>
            <li>    0 : no rotation                 </li>
            <li>    1 : reverse clockwise rotation  </li>
        </ul>
        <br>
        Number images to generate : <input type="number" name="number_images_to_generate" id="numberImagesToGenerate"> <br><br>

        Start range :   <input type="range" id="startRange" min="0"> <div id="startRangeText"></div> <br>
        End range :     <input type="range" id="endRange" min="0"> <div id="endRangeText"></div> <br>
        Speed :         <input type="number" id="speed"><br><br>

        <button id="updateAnimation">Update animation</button>

        <ul id="modificationHistory"></ul>

        <input type="hidden" id="imageWidth" name="image_width"> <!-- <br> -->
        <input type="hidden" id="imageHeight" name="image_height"> <!-- <br> -->

        <input type="submit" value="Generate gif">
    </form>

    <img src="" id="backgroundImage" class="image"/>
    <img src="" id="gif" class="image">
</body>

<script>
    document.addEventListener("DOMContentLoaded", function (){
        // Initialize background_image_copy image and gif image
        var backgroundImage = document.getElementById("backgroundImage");
        var numberImagesToGenerate = document.getElementById("numberImagesToGenerate");
        var startRange = document.getElementById("startRange");
        var startRangeText = document.getElementById("startRangeText");
        var endRange = document.getElementById("endRange");
        var endRangeText = document.getElementById("endRangeText");
        var speed = document.getElementById("speed");
        var updateAnimationButton = document.getElementById("updateAnimation");
        var modificationHistory = document.getElementById("modificationHistory");

        backgroundImage.style.position="absolute";

        backgroundImage.style.zIndex=1;

        numberImagesToGenerate.onchange = function (e) {
            startRange.max = numberImagesToGenerate.value - 1;
            endRange.max = numberImagesToGenerate.value - 1;
        }

        // Write updated text
        startRange.onchange = function (e) {
            startRangeText.innerText = startRange.value;
        }
        endRange.onchange = function (e) {
            endRangeText.innerText = endRange.value;
        }

        // Modifications
        var modificationList = []
        class Modification {
            constructor(id, startRange, endRange, speed, nbrImages, previousDuration = null) {
                this.id = id;
                this.startRange = startRange;
                this.endRange = endRange;
                this.speed = speed;
                this.nbrImages = nbrImages;

                this.update(previousDuration);
                this.placeModificationHistory();
            }

            update(previousDuration = null) {
                this.duration = [];
                if (previousDuration === null) {
                    for (let i=0; i<this.nbrImages; i++) {
                        this.duration[i] = 1/this.nbrImages;
                    }
                }
                else {
                    this.duration = previousDuration;
                }
                for (let i=this.startRange; i <= this.endRange; i++) {
                    this.duration[i] = parseInt(this.speed);
                }
                console.log(modificationList);
            }

            placeModificationHistory() {
                var liStartRange = document.createElement("li");
                liStartRange.appendChild(document.createTextNode("Start range: " + this.startRange));
                modificationHistory.appendChild(liStartRange);

                var liEndRange = document.createElement("li");
                liEndRange.appendChild(document.createTextNode("End range: " + this.endRange));
                modificationHistory.appendChild(liEndRange);

                var liSpeed = document.createElement("li");
                liSpeed.appendChild(document.createTextNode("Speed: " + this.speed));
                modificationHistory.appendChild(liSpeed);

                var button = document.createElement("button");
                button.setAttribute("id", this.id);
                button.setAttribute("class", "modificationButton");
                button.appendChild(document.createTextNode("Delete"));
                modificationHistory
                    .appendChild(button);
                modificationHistory.appendChild(document.createElement("br"));
                modificationHistory.appendChild(document.createElement("br"));

                button.onclick = function (e) {
                    liStartRange.parentNode.removeChild(liStartRange);
                    liEndRange.parentNode.removeChild(liEndRange);
                    liSpeed.parentNode.removeChild(liSpeed);
                    button.parentNode.removeChild(button);

                    modificationList.splice(this.id, 1);

                    for (let i=0; i<modificationList.length; i++) {
                        modificationList[i].id = i;
                        if (i > 0) {
                            modificationList[i].update(modificationList[i-1].duration.slice());
                        }
                        else {
                            modificationList[i].update(null);
                        }
                    }

                    e.preventDefault();
                }
            }
        }


        updateAnimationButton.onclick = function (e) {
            let previousDuration = null
            if (modificationList.length > 0) {
                previousDuration = modificationList[modificationList.length-1].duration.slice();
            }
            var newModification = new Modification(
                modificationList.length,
                startRange.value,
                endRange.value,
                speed.value,
                numberImagesToGenerate.value,
                previousDuration
            )

            modificationList.push(newModification);
            e.preventDefault();
        }

        // Load background_image_copy image
        var backgroundImageInput = document.getElementById("backgroundFileLoader");
        backgroundImageInput.onchange = function (event) {
            backgroundImage.src = URL.createObjectURL(event.target.files[0]);
        }


        // Moving elements on click part
        var imageElements = document.getElementsByClassName("image");
        var selectedElement = null;

        for (var i = 0; i < imageElements.length; i++) {
            imageElements[i].style.border="1px solid red";
            // Mouse click events
            imageElements[i].onclick = function (event) {
                if(selectedElement === event.target) {
                    selectedElement = null;
                }
                else {
                    selectedElement = event.target;
                }
                console.log(selectedElement);

                window.onmousemove = function (eventMouseMove) {
                    if (selectedElement != null) {
                        selectedElement.style.left = selectedElement.getBoundingClientRect().left + eventMouseMove.movementX + "px";
                        selectedElement.style.top = selectedElement.getBoundingClientRect().top + eventMouseMove.movementY + "px";
                    }
                };

                event.target.onwheel = function (eventMouseWheel) {
                    if (selectedElement != null) {
                        console.log(eventMouseWheel.deltaY)
                        var resize = eventMouseWheel.deltaY * -1
                        eventMouseWheel.preventDefault();

                        // Scrolling up
                        let element_width = selectedElement.getBoundingClientRect().width;
                        let element_height = selectedElement.getBoundingClientRect().height;
                        let slope = element_height / element_width;

                        let new_height = element_height + resize

                        selectedElement.style.height = new_height + "px";
                        selectedElement.style.width = (new_height/slope) + "px";
                    }
                };

            };

            // Click events
            imageElements[i].addEventListener("touchstart", function (touchstartEvent) {
                document.body.style.touchAction = "none";
                touchstartEvent.preventDefault();

                selectedElement = touchstartEvent.target;

                var previousTouchX = touchstartEvent.touches[0].clientX;
                var previousTouchY = touchstartEvent.touches[0].clientY;
                selectedElement.ontouchmove = (touchmoveEvent) => {
                    touchmoveEvent.preventDefault();
                    document.body.style.touchAction = "none";
                    var currentTouchX = touchmoveEvent.touches[0].clientX;
                    var currentTouchY = touchmoveEvent.touches[0].clientY;

                    var moveX = currentTouchX - previousTouchX;
                    var moveY = currentTouchY - previousTouchY;

                    selectedElement.style.left = selectedElement.getBoundingClientRect().left + moveX + "px";
                    selectedElement.style.top = selectedElement.getBoundingClientRect().top + moveY + "px";

                    previousTouchX = currentTouchX;
                    previousTouchY = currentTouchY;
                }

                selectedElement.addEventListener("touchend", function (touchendEvent){
                    selectedElement = null;
                    document.body.style.touchAction = "auto";
                });
            });
        }


        // Uploading form part
        var formElement = document.getElementById("imageForm");
        formElement.onsubmit = function (event) {
            backgroundImage.style.border = "";

            // Define image width & height
            var imageWidth = backgroundImage.getBoundingClientRect().width;
            var imageHeight = backgroundImage.getBoundingClientRect().height;
            var imageWidthInput = document.getElementById("imageWidth");
            var imageHeightInput = document.getElementById("imageHeight");
            imageWidthInput.value = parseInt(imageWidth);
            imageHeightInput.value = parseInt(imageHeight);

            // Add frame durations
            for (let i = 0; i < numberImagesToGenerate.value; i++) {
                var lastModification = modificationList[modificationList.length-1]
                var durationInput = document.createElement("input");
                durationInput.setAttribute("hidden", "true");
                durationInput.setAttribute("name", "duration");
                durationInput.setAttribute("value", lastModification.duration[i]);
                formElement.appendChild(durationInput);
            }
        }

    });
</script>

</html>